<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <header>
        <center>
            <a href="/Home/Index" class="btn btn-primary">Home</a>
            <a href="/Home/AbouteUs" class="btn btn-danger">AbouteUs</a>
            <a href="/Home/Content" class="btn btn-dark">Content</a>
            <a href="/Home/About" class="btn btn-secondary">About</a>



        </center>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer class="fixed-bottom">
        <center>
            Copyrights &coby; Route Academy @DateTime.Now.Year
        </center>

    </footer>
</body>
</html>
